*{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {margin: 0px;}

.App{
  /* background-color: #cadffb; */
  max-width: 1550px;
  width: 100%;
  min-width: 100vh;
  margin: 0 auto;
  box-shadow: 0 2px 6px white;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

/*----Header-----*/

header{
  width: 100%;
  height: 60px;
  max-width: 1530px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: top;
  box-sizing: border-box;
  background-color: #3e5f8a;
  box-shadow: 0 5px 10px #36a9e2c5;
  
}
.logo{
  width: 65px;
  height: auto;
}
a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
a:hover{
  color: #e8f2eef5;
}
li{
  list-style: none;
}
header ul{
  display: flex;
  padding: 0;
  margin: 0;
}
header ul li{
  padding: 0 1rem;
}
header ul li a{
  font-weight: bold;
}
header .cart{
  position: relative;
  cursor: pointer;
}
header .cart box-icon{
  width: 30px;
  height: 30px;
  
}
header .cart span{
  position: absolute;
  top: -0.5rem;
  right: -1rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0rem;
  font-size: 1rem;
  font-weight: 400;
  background-color: rgba(45, 245, 55, 0.562);
}

/*----INICIO----*/
.inicio{
  width: 100%;
  margin: 0 auto;
  padding-top: 1rem;
}
.inicio h1{
  font-family:'Times New Roman', Times, serif;
  color:  #5783bc;
  text-align: center;
  font-size: 2rem;
}
.slogan{
  font-family:'Times New Roman', Times, serif;
  color:  #6a9cde;
  text-align: center;
  font-size: 0.7rem;
}

.inicio img{
  width: 100%;

}
.proposite{
  margin-top: 25px;
  background-image: url(./images/banner\ oferta.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
  
}
.sub-title h3{
  font-family:'Times New Roman', Times, serif;
  text-align: center;
  margin-top: 40px;
  padding-top: 30px;
  font-size: 2rem;
  color: #3e58fa;
  
}


.contenedor01 {
  color: #5783bc;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding-bottom: 100px;

}

.box01 {
  width: 300px;
  height: auto;
}

.box02 {
  width: 300px;
  height: auto;

}

.box03 {
  width: 300px;
  height: auto;

}

/*---- Productos Carritos----*/

.cart-products{
  padding-top: 90px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 3rem 2rem;
  box-sizing: border-box;
}



.cart-products h2{
  font-size: 20px;
}
.cart-products h3{
  font-size: 17px;
}
.product{
  padding-top: 90px;
  display:flex ;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 2rem 1rem;
  box-sizing: border-box;

}




.img-cart{
  text-align: center;
  width: 250px;
  height: 250px;
  gap: 2;
}

.btn-deleted{
  text-align: center;
  margin-left: 5px;
  color: #fff;
  background-Color: rgb(235, 23, 23);
  border: none;
  border-Radius: 20px;
  padding: 10;
  cursor: pointer;
}



.finalizacion{
  padding-top: 90px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: darkgreen;
  
  
}
.finalizacion{
  padding-bottom: 90px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: darkgreen;
  
}


.fin-orden{
  padding: 40px 0px 200px 0px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 900;
  color: darkgreen;
}

/*------ALIMENTOS------*/

.title {
  font-size: 2rem;
  padding: 20px 0 0 0;
  text-align: center;
  color: rgb(14, 82, 172);
}
.productos{
  padding: 3rem 1rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 3rem 2rem;
  box-sizing: border-box;
}
.producto{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 10px 10px 2px rgba(12, 60, 124, 0.356);
  border: 6px solid transparent;
  border-radius: 5px;
}
.producto:hover{
  border: 6px solid #08a05c55;
}
.producto__img img{
  width: 200px;
  min-height: 300px;
}
.producto__footer{
  padding: 1rem;
}
.producto__footer h1{
  font-weight: 600;
  font-size: 1rem;
  color: #1a202c;
  font-family: Helvetica, sans-serif;
}
.producto__footer p{
  font-weight: 700;
  color: rgba(0,0,0, .555);
  text-transform: uppercase;
  font-size: 18px;
}
.producto__footer .price{
  font-size: 1.2rem;
  color: #1a202c;
}
.producto .buttom{
  width: 100%;
  height: 45px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem 3rem;
  padding: 0 1rem;
  margin: 0.2rem;
}
.buttom .btn{
  border: none;
  outline: 0;
  cursor: pointer;
  border-radius: 5px;
}
.buttom button{
  background-color: rgb(72, 252, 17);
  max-width: 200px;
  width: 100%;
  margin: 0 auto;
  font-size: 1rem;
  color: white;
  font-weight: 600;
  
}
.bottom {
  background-color:#3e5f8a;
  display: grid;
  align-items: center;
  text-align: center;
  margin-left: -2rem;
  border-radius: 5px;
}



/*-------CARRITO-------*/
.carrito{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in-out;
  background-color: rgba(0,0,0, .6);
  z-index: 2;
  padding-bottom: 5rem;
  visibility: hidden;
}
.carrito{
  position: fixed;
  top: 56%;
  left: 77%;
  transform: translate(-50%, -50%);
  scale:(1);
  width: 40%;
  height: 70%;
  border-radius: 8px;
  overflow-x: scroll;
  transition: all 300ms ease-in-out;
  background-color: white;
  opacity: 0;
  visibility: hidden;

}
.carrito h2{
  text-align: center;
  font-size: 2rem;
}
.carritos.show{
  visibility: visible;
}
.carrito.show{
  transform: translate(-50%, -50%) scale(1.1);
  opacity: 1;
  visibility: visible;
}
.carrito__close box-icon{
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transform: all 300ms ease-in-out;
  margin: 2rem 0 0 2rem;
}
.carrito__close box-icon:hover{
  fill:#3e58fa ;

}
.carrito__center{
  width: 95%;
  margin: 0 auto;
}
.carrito__item{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  width: 80%;
  margin: 2rem auto;
  box-shadow: 0 1px 10px #3e5f8a;
  border-radius: 3px;
}
.carrito__item img{
  margin-top: 1rem;
  width: 4rem;
}
.carrito__item h3{
  margin-top: 1rem;
  font-weight: 600;
  font-size: 1rem;
  font-family: Helvetica, sans-serif;
}
.carrito__item .price{
  color: #1a202c;
  font-size: 1rem;
  font-weight: bold;
  text-align: start;
  margin-left: 1rem;
}
.carrito__item box-icon{
  fill:#3e5f8a;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-top: 0.5rem;
}
.carrito__item .cantidad{
  font-size: 1rem;
  font-weight: bold;
}
.carrito__item .remove__item box-icon{
  width: 50px;
  height: 30px;
  fill: #3e5f8a;
  margin-top: 2.5rem;
}
.carrito__footer{
  text-align: center;
  margin-bottom: 3rem;
}
.carrito__footer h3{
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
}
.carrito__footer .btn{
  display: inline-block;
  padding: .3rem 1rem;
  font-size: 1.2rem;
  background-color: #3e5f8a;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.carrito__footer .btn:hover{
  background-color: #3e5f8a;
  color: white;
}


/*-----RECOMENDACIONES-----*/

.recommendations {
  text-align: center;
  padding: 60px;
  color: white;
}
.animales{
  width: 90%;
  
  
}
.description-recommendations{
  display: flex;
  gap: 4rem;
}

.image-dogcat{
  width: 40%;
  padding-left: 30px;
}
.text-recommendations{
  text-align: initial;
  width: 40%;
  padding-top: 120px;
}

.tips{
  padding: 25px 25px;
  text-align: initial;
  width: 90%;
}
.tips>p{
  padding-left: 40px;
}
/*----Contacto----*/
.contacto {
  padding-top: 90px;
}
.contenedor-formulario{
  flex-direction: column;
  text-align: center;
}
.formulario-contacto{
  flex-direction: column;
}



/*-----Detalle Productos----*/
.detalles{
  padding: 10px 90px;
  display: flex;
  gap: 15px;
}
.detalle-rigth{
  padding-top: 150px;
  color: #188ba0c2;
}
.detalle-left >.price{
  font-weight: 500;
  font-size: 1.5rem;
  color: #3e5f8a;
}
.detalle-rigth p{
  text-align: initial;
  color: #3e58fa;
}
.detalle-rigth >h2{
  text-align: center;
  color: #3e5f8a;
}
.detalle-left img{
  width: 300px;
  height: 350px;
}

/*---Media-------*/
@media only screen and (max-width: 1000px){
  .carrito__item{
      width: 92%;
  }
}
@media only screen and (max-width: 888px){ 
  .detalles input{
      margin-top: -6rem;
  }
}
@media only screen and (max-width: 700px){
  .carrito{
      width: 100%;
      height: 100%;
      padding: 1rem;
  }
  .carrito__item h3{
      font-size: 1.3rem;
  }
  .detalles h2{
      font-size: 3rem;
  }
  
}
@media only screen and (max-width: 663px){ 
  .detalles input{
      margin-top: -8rem;
  }
}

@media only screen and (max-width: 570px){
  header ul{
      display: none;
  }
  .productos{
      padding: 0;
  }
  .detalles h2{
      font-size: 2.5rem;
  }
  .detalles input{
      margin-top: 0rem ;
  }
  .detalles img{
      object-fit: cover;
      width: 100%;
      height: 100%;
      margin: -1rem auto;
  }
}
@media only screen and (max-width: 450px){
  .carrito__item h3{
      font-size: .8rem;
  
  }
  .carrito__item .remove__item{
  width: 20px;
  height: 20px;
  }
  .carrito__item box-icon{
  width: 25px;
  height: 25px;
  }
  .detalles h2{
      font-size:2rem;
      padding-top: 10rem ;
  }
  .detalles .grid > .nuevo, .tamano{
  padding: 1rem 1rem;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  }
  .detalles .grid .tamano select{
      font-size: 1.2rem;
  }
  .detalles img{
      width: 300px;
      width: 100%;
  }
  .detalles{
      padding: 1rem 0;
  }
}